img.ZS-head-img {
    width: 280px;
}
.ZS-head {
    margin-top: 28px;
    margin-left: 100px;
    float: left;
}
.ZS-name {
    color: #de676ca8;
    font-size: 51px;
    font-family: 华光粗圆_CNKI;
}
.ZS-introduction {
    float: left;
    margin-left: 45px;
    margin-top: 54px;
}
.ZS-blog {
    color: #9CA3AF;
    font-size: 18px;
    margin-top: 19px;
    margin-left: 32px;
    letter-spacing: 1px;
    /* color: #E27A7E; */
}
.ZS-name {
    color: #de676ca8;
    font-size: 51px;
    font-family: 华光粗圆_CNKI;
    margin-left: 46px;
    margin-top: 34px;
}
.ZS-head_border:after {
    content: "";
    display: block;
    clear: both;
}
.ZS-head_border {
    margin-bottom: 57px;
}
.ZS-home-music{
    width: 700px;
}