img.ZS-head-img {
    width: 280px;
}
.ZS-head {
    margin-top: 28px;
    margin-left: 48px;
    float: left;
}
.ZS-name {
    color: #de676ca8;
    font-size: 51px;
    font-family: 华光粗圆_CNKI;
}
.ZS-introduction {
    float: left;
    margin-left: 45px;
    margin-top: 72px;
}
.ZS-school {
    font-size: 20px;
    margin-top: 21px;
}
.ZS-blog {
    color: #9CA3AF;
    font-size: 18px;
    margin-top: 19px;
    margin-left: 32px;
    letter-spacing: 1px;
    /* color: #E27A7E; */
}
.ZS-name {
    color: #de676ca8;
    font-size: 51px;
    font-family: 华光粗圆_CNKI;
    margin-left: 46px;
    margin-top: 34px;
}